img.slider-img{
    height: 600px !important;
    align-items: center;
}

.custom-product{
    margin: 20px;
    height: 600px;
    background-color: #e6e6e6;
}

.slider-text{
    background-color: #35443585;
    border-radius: 10%;
}

.trending-image{
    height: 150px;
}

.trending-item{
    /* display: flex; */
    float: left;
    width: 20%;
}

.trending-wrapper{
    margin: 20px;
}

.detail-img{
    height: 300px;
    width: auto;
}

.cart-list{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}